<footer class="sticky-footer bg-white ">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; BookStore 2019</span>
            <a href="#">Back to top</a></
        </div>
    </div>
</footer>