@page "{Id}"
@model BookStore.EditBookModel
@{
    ViewData["Title"] = "Edit";
}

@*<h1>Edit</h1>

    <h4>Book</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Book.Id" />
                <div class="form-group">
                    <label asp-for="Book.Title" class="control-label"></label>
                    <input asp-for="Book.Title" class="form-control" />
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Description" class="control-label"></label>
                    <input asp-for="Book.Description" class="form-control" />
                    <span asp-validation-for="Book.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Author" class="control-label"></label>
                    <input asp-for="Book.Author" class="form-control" />
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.PublishDate" class="control-label"></label>
                    <input asp-for="Book.PublishDate" class="form-control" />
                    <span asp-validation-for="Book.PublishDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Price" class="control-label"></label>
                    <input asp-for="Book.Price" class="form-control" />
                    <span asp-validation-for="Book.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Book.Image" class="control-label"></label>
                    <input asp-for="Book.Image" class="form-control" />
                    <span asp-validation-for="Book.Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>*@

<div class="container">
    <div class="jumbotron">
        <h2 class="text-center">Edit</h2>
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Book.Id" />
                    <div class="form-group">
                        <label asp-for="Book.Title" class="control-label"></label>
                        <input asp-for="Book.Title" class="form-control" />
                        <span asp-validation-for="Book.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Description" class="control-label"></label>
                        <input asp-for="Book.Description" class="form-control" />
                        <span asp-validation-for="Book.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Author" class="control-label"></label>
                        <input asp-for="Book.Author" class="form-control" />
                        <span asp-validation-for="Book.Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Price" class="control-label"></label>
                        <input asp-for="Book.Price" class="form-control" />
                        <span asp-validation-for="Book.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.PublishDate" class="control-label"></label>
                        <input asp-for="Book.PublishDate" class="form-control" />
                        <span asp-validation-for="Book.PublishDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Image" class="control-label"></label>
                        <input asp-for="Book.Image" class="form-control" />
                        <span asp-validation-for="Book.Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-dark" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-page="./ListBooks">Back to list</a>
        </div>
    </div>
</div>
