
@{
    ViewData["Title"] = "Index";
    Layout = "Admin/_AdminLayout";
}


<div class="row">
    <partial name="Admin/_Cards" />
</div>
<div class="row">
    <partial name="Admin/_AreaChart" />
    <partial name="Admin/_PieChart" />
</div>

