@model BookStore.ViewModels.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-password-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Change your password</h1>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-xs font-weight-bold text-warning text-uppercase mb-1"></div>
                        <form asp-action="ChangePassword">
                            <div class="form-group">
                                    <input asp-for="OldPassword" class="form-control form-control-user" placeholder="Old password">
                                    <span asp-validation-for="OldPassword" class="text-xs font-weight-bold text-warning text-uppercase mb-1"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="NewPassword" class="form-control form-control-user" placeholder="New password" required="required">
                                <span asp-validation-for="NewPassword" class="text-xs font-weight-bold text-warning text-uppercase mb-1"></span>
                            </div>
                            <div class="form-group">
                                    <input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Repeat password" required="required">
                                    <span asp-validation-for="ConfirmPassword" class="text-xs font-weight-bold text-warning text-uppercase mb-1"></span>
                            </div>
                            <input type="submit" value="Change" class="btn btn-primary btn-user btn-block" />
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

