@model Address
@inject BookStore.Services.IRepository<Country> CountryHelper

@{
    var CountryList = Country.GetCountrySelectList(CountryHelper.GetAll());
}

@{
    ViewData["Title"] = "Default";
}

<div class="form-group">
    <label asp-for="Address1"></label>
    <input asp-for="Address1" class="form-control" />
    <span asp-validation-for="Address1" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address2"></label>
    <input asp-for="Address2" class="form-control" />
    <span asp-validation-for="Address2" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Country"></label>
    <select asp-for="Country" asp-items="CountryList" class="form-control"></select>
    <span asp-validation-for="Country" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="State"></label>
    <input asp-for="State" class="form-control" />
    <span asp-validation-for="State" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="City"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Zip"></label>
    <input asp-for="Zip" class="form-control" />
    <span asp-validation-for="Zip" class="text-danger"></span>
</div>

